[user]
    name = Atom
		email = fromatom@gmail.com
[core]
    excludesfile = ~/.gitignore
		excludesfile = /Users/bossme/.gitignore
		excludesfile = /Users/Atom/.gitignore

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    cl = clone --recursive
		st = status
    df = diff
    dfc = diff --cached
    co = checkout
    last = show -1 HEAD --stat -p
    me = log --author=asonas
    ci = commit
    bull = pull
    dfw = diff --color-words
    b = branch
    log = log --decorate
    l = log --decorate
    g = grep
    fe = fetch
    cp = cherry-pick

[pager]
    log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[color]
    ui = true
    diff = true
