[submodule ".emacs.d/public_repos/yaml-mode"]
	path = .emacs.d/public_repos/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule ".emacs.d/public_repos/emacs-smartchr"]
	path = .emacs.d/public_repos/emacs-smartchr
	url = git@github.com:imakado/emacs-smartchr.git
[submodule ".emacs.d/public_repos/emoji"]
	path = .emacs.d/public_repos/emoji
	url = git@github.com:imakado/emoji.git
[submodule ".emacs.d/public_repos/less-mode"]
	path = .emacs.d/public_repos/less-mode
	url = git@github.com:myfreeweb/less-mode.git
[submodule ".emacs.d/public_repos/rhtml"]
	path = .emacs.d/public_repos/rhtml
	url = git@github.com:eschulte/rhtml.git
